.venv
.env

wikipedia_db/*
wikipedia_db

simplewiki-2020-11-01.jsonl
simplewiki-2020-11-01.jsonl.gz

node_modules
API-chatbot-langgraph/src/__pycache__/*
API-chatbot-langgraph/src/api/__pycache__/*
API-chatbot-langgraph/static/charts/*

__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyc

